---
const personalImageAlt = "Juan Martínez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Me llamo Juan Esteban y soy estudiante de <strong>Ingeniería Civil en Computación e Informática</strong>.
        Mi interés por la tecnología nació temprano y, desde entonces, la programación se ha convertido en
        una herramienta clave para entender y construir soluciones reales.
    </p>

    <p>
        Durante mi formación he trabajado en distintos proyectos académicos y personales, donde he podido
        <strong>aplicar fundamentos de desarrollo de software, metodologías ágiles, gestión de proyectos, algoritmos y diseño de sistemas</strong>,
        siempre con foco en buenas prácticas y aprendizaje continuo.
    </p>

    <p>
        A futuro, mi objetivo es <strong>participar en proyectos de alto impacto tecnológico</strong>,
        aportar al desarrollo de soluciones innovadoras y seguir perfeccionándome como profesional en el
        mundo de la ingeniería y el software. Paso a paso, pero con código limpio.
    </p>

  </div>

  <img src="/profile.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full scale-100 p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%";/>

  



</article>
